{% extends "base.html" %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}

  <h1>Привет, я автор проекта PhotoBlog - Нил</h1>
  <p>

Вы когда-нибудь задумывались о том, каким образом фотографии могут рассказать целую историю? PhotoBlog - это место, где кадры оживают, и каждая фотография становится частью увлекательного рассказа.

PhotoBlog - это платформа для всех, кто любит фотографировать и делиться своим творчеством с миром. У нас вы найдете место для самовыражения, вдохновения и обмена опытом с другими фотографами. Мы верим, что каждая фотография имеет свою уникальную историю, и у нас есть всё необходимое, чтобы помочь вам рассказать эту историю ваших кадров.

С PhotoBlog, ваша фотография - это не просто снимок, это история, которую стоит рассказать.

Присоединяйтесь к PhotoBlog и делитесь своим искусством с миром!
  </p>

{% endblock %}